*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #F5F5F5;
}

nav{
    background-color: #F85606;
    padding-bottom: 30px;
}


.menu-item-parent{
    padding-top: 10px;
}
.menu-item-parent ul{
    display: flex;
    justify-content: flex-end;
    margin-right: 120px;

}
.menu-item-parent ul li{
    list-style: none;
    margin: 0 15px;
}
.menu-item-parent ul li a{
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}

.logo-image img{
    width: 200px;
    margin-top: 20px;
    margin-left: 150px;
    cursor: pointer;
}


.logo-item-parent{
    display: flex;
}

.search-and-icon-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 95px;
}

.search-and-icon input{
     width: 550px;
     height: 48px;
     font-size: 15px;
     font-weight: bold;
     padding: 0 10px;
}
.search-icon{
    color: #F85606;
    font-size: 20px;
    padding: 12px;
    margin-top: -1px;
    margin-left: -1px;
    background-color: antiquewhite;
    cursor: pointer;
}
.search-and-icon-cart{
    
}
.search-and-icon-cart i{
    font-size: 35px;
    margin-left: 50px;
    color: white;
    cursor: pointer;
}


/* header part css code start here */


header{
    
}
.baner-image{
    width: 1200px;
    margin: auto;
}
.baner-image img{
    width: 100%;
}



/* main section code start */


main{
    background-color: #F5F5F5;
}

.flash-sale{
   width: 1200px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
   margin: auto;
   margin-top: 20px;
   padding-top: 20px;
}

section{
    background-color: #FFFFFF;
    width: 1200px;
    margin: auto;
    padding-bottom: 40px;
    margin-bottom: 50px;
}

.title-area-parent{
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #F85606;
    margin-top: 20px;
    border-bottom: 1px solid black;
}
.first-title h4{
    margin-left: 15px;
    padding-top: 15px;
}

.button{
    margin-bottom: 20px;
    padding-top: 17px;
}
.button button{
    font-size: 16px;
    font-weight: bold;
    color: #F85606;
    margin-right: 20px;
    
    border-color: #F85606;
    padding: 5px 10px;
    cursor: pointer;
}



#first-section-cart-parent{
    display: grid;
    width: 1200px;
    grid-template-columns: repeat(6, 190px);
    grid-column-gap: 12px;
    margin-top: 20px;
}


.first-cart img{
    height: 200px;
    width: 100%;
}

.spacification h5{
    font-size: 20px;
    color: #F85606;
}
.spacification span del{
    color: gray;
}




